.side-bar-icons {
  max-height: 2.5em;
  display: inline;
  padding-top: 10%
}

.side-bar-logo {
  margin-bottom: 3em;
  max-height: 5em;  
}

.side-bar-group {
  margin-bottom: 1em;
}

.icons {
  max-height: 2.5em;
  padding-bottom: 1%;
}

.App {  
  margin-left: 6.25em;
}